.modalOverlay {
  display: flex;
  z-index: 1000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
}

.titleText {
  position: absolute;
  -webkit-text-stroke: 3px rgba(81, 82, 26, 0.2);
  transform: translate(-50%, -50%);
  color: #1b0d38;
  font-size: 22px;
  font-family: var(--font-bungee);
}
