@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  font-family:
    "Bungee" Arial,
    Helvetica,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--background);
  background-image: url("/main-bg-mobile.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  color: var(--foreground);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;

  @media (min-width: 376px) {
    background-image: url("/main-bg.webp");
  }
}

button {
  border: transparent;
  background: transparent;
  cursor: pointer;
}
