:root {
  --text-primary: #a5dff7;
  --background-primary: #daf3a6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  position: relative;
  height: 100vh;
  background: var(--background-primary);
  color: var(--text-primary);
  font-size: 14px;
  line-height: 1.4;
  font-family: var(--font-pocket-monk);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}
