:root {
  --text-primary: #a5dff7;
  --text-secondary: #999999;

  --background: #ffffff;
  --foreground: #171717;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  position: relative;
  color: var(--text-primary);
  font-size: 14px;
  line-height: 1.4;
  font-family: var(--font-pocket-monk);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url("/main-bg.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
