.homeWrapper {
  position: relative;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 530px;
  margin: 0 auto;
  padding: 0 15px;

  @media screen and (max-width: 575px) {
    padding: 0 19px;
  }
}

.titleWrapper {
  display: flex;
  z-index: 2;
  position: absolute;
  top: 10px;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 100%;

  @media screen and (max-width: 575px) {
    top: 23px;
  }
}

.titleBase {
  @media screen and (max-width: 575px) {
    width: 228px;
    height: 46px;
  }
}

.tokioSlots {
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media screen and (max-width: 575px) {
    width: 172px;
    height: 46px;
  }
}

.slotMachineWrapper {
  display: flex;
  position: absolute;
  top: 40%;
  left: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
}

@keyframes liquidPulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.25);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.titleWinEffect {
  animation: liquidPulse 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
}
