.homeWrapper {
  padding-top: 42px;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 530px;
  height: 100%;

  margin: 0 auto;
  padding: 0 15px;
}

.titleWrapper {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.tokioSlots {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
