.homeWrapper {
  position: relative;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 530px;
  margin: 0 auto;
  padding: 0 15px;

  @media screen and (max-width: 375px) {
    padding: 0 19px;
  }
}

.titleWrapper {
  display: flex;
  z-index: 2;
  position: absolute;
  top: 10px;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.tokioSlots {
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slotMachineWrapper {
  display: flex;
  position: absolute;
  top: 40%;
  left: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
}
