.balanceWrapper {
  z-index: 3;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.icon {
  @media screen and (max-width: 575px) {
    width: 137px;
    height: 43px;
  }
}

.titleWrapper {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);

  @media screen and (max-width: 575px) {
    top: -12px;
  }
}

.balanceAmount {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 400;
  font-size: 30px;
  font-family: var(--font-bungee);

  @media screen and (max-width: 575px) {
    top: 52%;
    font-size: 22px;
  }
}

.balanceBase {
  height: 80px;

  @media screen and (max-width: 575px) {
    width: 251px;
    height: 76px;
  }
}
