.balanceWrapper {
  z-index: 3;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.titleWrapper {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.balanceAmount {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 400;
  font-size: 30px;
  font-family: var(--font-bungee);
}

.balanceBase {
  height: 80px;
}
