.betControls {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 12px;
}

.betLabel {
  margin-bottom: 10px;
  color: var(--accent-color);
  font-size: 14px;
  font-family: var(--font-bungee);
  text-align: center;

  -moz-text-stroke: 1px #000000;
  -webkit-text-stroke: 1px #000000;
}

.betButton {
  display: block;

  width: 63px;
  height: 66px;
  padding: 0;
  border: transparent;
  border-radius: 14px;
  background: transparent;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

.betDisplay {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  min-width: 80px;
}

.betDisplayOverlay {
  width: 189px;
  height: 62px;
}

.betAmount {
  position: absolute;
  top: 52%;
  left: 56%;
  max-width: 9ch;
  overflow: hidden;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 400;
  font-size: 20px;
  font-family: var(--font-bungee);
  text-overflow: ellipsis;
  text-shadow: 0px 4px 0px 0px #000000cc;
  white-space: nowrap;
}
