.slotMachineWrapper {
  position: relative;
}

.slotMachine {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;

  &.winEffect {
    animation: winPulse 0.5s ease-in-out infinite alternate;
  }
}

// .slotMachineBase styles can be added here if needed

.reels {
  display: flex;
  position: absolute;
  top: 60px;
  left: 52px;

  justify-content: center;
  gap: 17px;
}

.lightRays {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background:
    radial-gradient(
      circle at 20% 20%,
      rgba(255, 215, 0, 0.3) 0%,
      transparent 50%
    ),
    radial-gradient(
      circle at 80% 20%,
      rgba(255, 215, 0, 0.3) 0%,
      transparent 50%
    ),
    radial-gradient(
      circle at 50% 80%,
      rgba(255, 215, 0, 0.3) 0%,
      transparent 50%
    );
  animation: lightRaysRotate 3s linear infinite;
  pointer-events: none;
}

@keyframes winPulse {
  0% {
    filter: brightness(1);
  }
  100% {
    filter: brightness(1.2);
  }
}

@keyframes lightRaysRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
