.spinButtonWrapper {
  z-index: 2;
  position: absolute;
  bottom: 138px;
  left: 50%;
  transform: translateX(-50%);
}

.spinButton {
  padding: 0;
  border-radius: 50%;
  cursor: pointer;

  &:active:not(.disabled) {
    .spin {
      transform: translate(-51%, -50%) translateY(4px) scaleY(0.95);
    }
  }

  &.disabled {
    cursor: not-allowed;
  }
}

.spin {
  z-index: 2;
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translate(-51%, -50%);
  transition: transform 0.1s ease;
}

.buttonBase {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
